*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 65%;
    overflow-x: hidden;
}
body{
    background-color: mintcream;
    overflow: hidden;
    padding-left: 35rem;
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid black;
    color:black;
}

.heading span{
    color: darkcyan;
}

.title{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid black;
    color: black;
}

.title span{
    color: darkcyan;
}

.head{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid black;
    color: black;
}
.head span{
    color: darkcyan;
}
.pro{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid black;
    color: black;
}
.pro span{
    color: darkcyan;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user .nm{
    font-size:2.5rem;
    color: darkcyan;
}

header .user .jb{
    font-size:1.5rem;
    color: darkgreen;
}

header .nv{
    width: 100%;
}
header .nv ul{
    list-style: none;
    padding: 1rem ;
}

header .nv ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #C4DFDF;
    color: black;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;  
}
header .nv ul li a:hover{
    color: white;
    background-color:#A1CCD1;
}

.Details .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Details .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Details .Row .det h3{
    font-size: 2rem;
    color: black;
    padding: 1rem 0;
    font-weight: normal;
    
}

.Details .Row .det h3 span{
    color: darkgreen;
    font-weight: bold;
    padding: 0. 5rem;
}
table,th,td{
    border: 1px solid darkcyan;
    border-collapse: collapse;
}
td{
    color: black;
    padding: 1rem;
}
th{
    color: darkgreen;
    padding: 1rem;
}
table{
    text-align: center;
    margin: 0 6rem;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: .1rem solid black;
    color: black;
}
#lis li{
    margin: 0 9rem;
    color: black;
    font-size: large;
    padding: .5rem 1rem;
}
#list li{
    margin: 0 10rem;
    color: black;
    font-size: large;
    padding: 1.5rem 2rem;
}

.Project .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Project .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Project .Row .det h3{
    font-size: 2rem;
    color: black;
    padding: 1rem 0;
    font-weight: normal;
}

.Project .Row .det h3 span{
    font-weight: bold;
    color: darkgreen;
    padding: 0. 5rem;
}
